<!DOCTYPE html>
<html lang="en">
    <head>
        <%=render 'shared/head_elements'%>
    </head>

    <body>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                <h1><a href="#">Google Single Sign On Demo</a></h1>
                </li>
            </ul>

            <section class="top-bar-section">
                <% if user_signed_in? %>
                <ul class="right">
                    <li><%=link_to "Sign Out", sign_out_path()%></li>
                </ul>
                <% end %>
            </section>
        </nav>

        <%=render 'shared/flashes'%>

        <%= yield %>

    </body>
</html>
